.select2-container,
.footer {
  z-index:2000 
} 
.player-portrait {
  vertical-align:bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.margin-auto {
  margin: 0 auto;
}
.modal.container-dialog{
  display:flex;
  align-items: center;
}
.modal-dialog {
  margin: 0 auto;
  max-width: 90%;
}
